body{
    font-family: sans-serif;
}

.cabeçalho{
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin: auto;
    border: 1px solid;
    padding-left: 10px;
    padding: 10px;
    padding-right: 10px;
    width: 1100px;
    border-radius: 10px;
}
.cabeçalho h1 {
    margin: auto; /* Adicionei essa linha para remover o margin do h1 */
  }
  
  #loja {
    margin-left: auto; 
    width: 50px;
  }